* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: 'Roboto', sans-serif;
  background: #fff;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

.img-container {
  background: url('todolist-graphic.svg') no-repeat center/cover;
  max-width: 600px;
  height: 290px;
  margin: 0 auto 2rem;
  margin-top: 4rem;
}

.heading {
  font-weight: 500;
  color: #444;
  margin-bottom: 1rem;
}

.card {
  box-shadow: 0 1px 3px 0 rgba(21,27,38,.15);
  background: #fff;
}

#task-form {
  padding: 1.5rem 1rem;
  border-bottom: 1px solid #dfe1e5;
  display: flex;
}

.input {
  width: 80%;
  margin-right: 1rem;
}

#task-input {
  width: 100%;
  display: block;
  border: 1px solid #dfe1e5;
  border-radius: 1.3rem;
  font-size: 1rem;
  line-height: 0;
  padding: 0.75rem 1rem;
  outline: 0;
}

#task-field::placeholder {
  color: #B4B2B2;
}

#task-field:focus {
  border: 1px solid #a4a7ad;
}

.btn {
  width: 20%;
  color: #fff;
  font-size: 1rem;
  background: #EF799B;
  border: none;
  border-radius: 1.3rem;
  outline: 0;
  cursor: pointer;
  padding: .75rem 0;
}

.btn:hover {
  background: #F283A8;
}

.list-container {
  padding: 1rem;
}

.task-list {
  border-top: 1px solid #dfe1e5;
  border-right: 1px solid #dfe1e5;
  border-left: 1px solid #dfe1e5;
  margin-bottom: 1rem;
}

.list-item {
  padding: .5rem;
  font-size: .9rem;
  border-bottom: 1px solid #dfe1e5;
  color: #777;
}

.remove-item {
  float: right;
  color: #B3B3B3;
  font-size: .5rem;
  font-weight: 700;
  border: 2px solid #B3B3B3;
  padding: 2px 5px;
  border-radius: 10px;
  cursor: pointer;
}

.remove-item:hover {
  color: #58EDD0;
  border: 2px solid #58EDD0;
}

.clear-btn {
  width: 20%;
  color: #fff;
  font-size: 1rem;
  background: #F97254;
  border: none;
  border-radius: 1.3rem;
  outline: 0;
  cursor: pointer;
  padding: .75rem 0;
}

.clear-btn:hover {
  background: #FF8257;
}


