* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  outline: 0;
}

body {
  font-family: 'Muli', sans-serif;
  color: #fff;
  background: linear-gradient(
            rgba(2, 14, 24, 0.6), 
            rgba(2, 14, 24, 0.6)),
              url('https://picsum.photos/1920/1080/?blur=1') no-repeat center/cover;
}

.container {
  max-width: 1000px;
  min-height: 100vh;
  margin: 0 auto;
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#clock {
  color: #fff;
  font-size: 6rem;
  text-align: center;
  line-height: 6rem;
  margin-bottom: 1rem;
}

#clock .am-pm {
  font-size: 6rem;
}

#greeting {
  color: #fff;
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 1.5rem;
  font-weight: 600;
  line-height: 5rem;
}

#task-form {
  display: flex;
}

#task-input {
  width: 100%;
  margin-right: .5rem;
  font-size: 1.25rem;
  padding: .5rem;
  outline: 0;
  border: none;
}

#task-input::placeholder {
  color: #979797;
}

#add-btn {
  color: #fff;
  background-color: #489fb5;
  border: none;
  font-size: 1rem;
  padding: 1rem;
  width: 150px;
  font-weight: 600;
}

#add-btn:hover {
  background: #54BBD5;
}

.heading {
  font-size: 2rem;
  margin: 1rem 0;
  padding-top: 1rem;
}

#task-list {
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
  margin-bottom: 1rem;
}

.task-item {
  padding: .5rem;
  font-size: 1.5rem;
  border-bottom: 1px solid #fff;
  color: #fff;
  transition: all 300ms;
}

.remove-item {
  float: right;
  color: #fff;
  cursor: pointer;
  transition: all 300ms;
}

.remove-item:hover {
  color: #58EDD0;
}

#clear-btn {
  color: #fff;
  background-color: #ff6b6b;
  border: none;
  font-size: 1rem;
  padding: 1rem;
  width: 150px;
  font-weight: 600;
  display: block;
  margin: 3rem auto 0;
}

#clear-btn:hover {
  background: #FF8181;
}

@media only screen and (max-width: 750px) {
  #clock {
    font-size: 4rem;
    margin-bottom: 0.5rem;
    line-height: 5rem;
  }

  #clock .am-pm {
    font-size: 4rem;
  }

  #greeting {
    font-size: 1.75rem;
    margin-bottom: 2rem;
    line-height: 2.25rem;
  }
  .task-item {
    font-size: 1.25rem;
  }
}


@media only screen and (max-width: 400px) {
  #clock {
    font-size: 3rem;
    margin-bottom: 0.5rem;
    line-height: 4rem;
  }

  #clock .am-pm {
    font-size: 3rem;
  }

  #greeting {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    line-height: 2.25rem;
  }
  .task-item {
    font-size: 1.25rem;
  }
}